.margin-top {
	margin-top: 15px;
}
#kitchen-categories>div {
	margin: 0;
}
#banner img {
	padding: 0 15px;
}
.cat-title {
	text-transform: uppercase;
}
#main-cat-sidebar {
  margin: 0 auto 20px auto;
}
#main-cat-sidebar ul {
	margin-left: 15px;
  list-style-type: square
}
#main-cat-sidebar ul li {
	padding: 5px 0;
	border-bottom: 1px solid #ebebeb;
}
/*ad*/
#main-cat-sidebar > img {
  margin: 0 auto;
  display: table;
}
.category-border {
	border: 1px solid #ebebeb;
	border-bottom: none;
}

body > div.container.main > div:nth-child(7) {
  border-bottom: 1px solid #ebebeb;
}


.main-category-desc h3, h3.cat-title, h4.cat-title {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #2c4f6f;
	text-transform: uppercase;
  /*margin: 0;*/
}

h2.section-title {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2c4f6f;
  text-transform: uppercase;
}

h3.cat-title {
  margin: 20px 0 10px 0;
}

.main-category-desc p {
	font-family: "Monserrat", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 200;
	color: #999999;
}
#kitchen-categories>div>div:nth-child(6) {
	border-bottom: 1px solid #ebebeb;
}
.sub_cat_desc {
  text-align: left;f
}

.sub_cat_desc_img_wrapper {
	min-height: 100px;
}
.sub_cat_desc img {
  display: table;
  margin: 0 auto;
}

ul.sub-category >li {
	list-style: none;
}
ul.sub-category >li>a {
	font-size: 12px;
	color: #0165ba;
}

div.vendor-info>div>a {
	float: right;
	margin: 0 20px;
	font-size: 12px;
	color: #0165ba;
	max-width: 100px;
	text-align: right;
}
.sub_category_photo {
	/*float: right;*/
}


/*down arrows for menus*/
.product-search-parameters {
  position: relative;
  float: left;
  width: 100%;
}

.product-search-parameters:after {
  content: '\f078';
  font: normal normal normal 10px/1 FontAwesome;
  color: #999999;
  right: 20px;
  top: 10px;
  height: 34px;
  padding: 15px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.product-search-parameters select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 50px;
  float: right;
  margin: 2px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #999999;
  background-color: #ffffff;

}

/*end copy paste bs*/
select {
  -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
   border: 1px solid #ebebeb;
   border-radius: 0px;
   font-size: 16px;
   margin: 0;
   background-color: white;
	 cursor: pointer;
}

select:hover {
  background-color: rgb(39,70,100);
  color: white;
  /*transition: background-color ease-in .8s;*/
}
select, input {
  width: 100%;
  font-family: "Myriad Pro", sans-serif;
  padding: 10px;
}

#main-cat-sidebar > form > input[type="text"]:nth-child(1) {
  margin: 10px 0;
}
/*submit button*/
#main-cat-sidebar > form > input[type="submit"]:nth-child(6) {
  background-color: rgb(39,70,100);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  width: 50%;
  margin: 20px auto;
  display: table;
}
/*clear search*/
#main-cat-sidebar > form > p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 100;
  display: table;
  margin: 10px auto;

}

.divider{
  border-top: 2px solid #2c4f6f;
  margin-right: 60%;
}

.vendor-logo {
  position: relative;
  float: right;
}

.vendor_info, .vendor_info > img, img.vendor-photo, .sub_category_photo {
  display: none;
}

img.vendor_photo {
  padding: 0;
}

.main-category-desc h3, h3.cat-title {
  margin: 20px 0;
}

.kitchen-accessories h6 {
  text-align: center;
}
/*featured */

/*featured products*/
.featured-img img {
  width: 100%;
  float: none;
}

.featured-img-textbox {
  width: 100%;
}

.featured-retail-price {
  color: #6fbdf7
}

.featured-our-price {
  color: #007dda;
}

.featured-desc h3 a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}

/*featured collections*/
.featured-collection-desc {
  color: #005efa;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

/*featured categories*/
.featured-category-desc {
  font-family: "Montserrat", sans-serif;
  color: #2c4f6f;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.featured, .featured img {
  width: 100%;
}

/*subcategory page*/

.sub-cat-gallery-item {
	margin: 50px 0 20px 0;
}

.sub-cat-gallery-item img {
	border: 1px solid #ebebeb;
	/*margin: 20px;*/
	width: 100%;
}

.sub-cat-gallery-item-desc {
	margin-top: 10px;
}

.sub_category_info {
	width: 100%;
	margin: 0;
}

.sub-category-info h3 {
	font-family: "Poppins", sans-serif;
	font-size: 19px;
	font-weight: 700;
	color: #2c4f6f;
	text-transform: uppercase;
	margin: 10px 0;
}

.sub-category-photo img {
	padding: 10px;
}

.sub-category-text, .sub-category-photo {
	margin: 20px 0;
}
.sub-category-text h3, .sub-category-text div {
	font-family: "Montserrat", sans-serif;
	color: #003064;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 18px;
}

.sub-category-text div {
	text-transform: capitalize;
}

.sub-category-text p {
	margin-top: 10px;
	font-size: 12px;
	line-height: 20px;
}

.feat-prods {
	clear: both;
}

.generic-content-page {
	font-family: "Monserrat", sans-serif;
	font-size: 14px;
	line-height: 22px
}

.generic-content-page .indent {
	margin-left: 60px;
}

.generic-content-page h3, .chat-online div {
	font-size: 19px;
	color: #2c4f6f;
	text-align: center;
	margin: 20px 0;
	font-weight: 700;
}

.generic-content-page p {
	padding: 0 30px;
}

.chat-online {
	margin-top: 40px;
	text-align: center;
}
.chat-online div {
	font-size: 12px;
}

/*manufacturer detail page*/

.manufacturers-collections-exhaustive {
	float: right;
}

.manufacturers-collections-exhaustive ul li {
	list-style-type: none;
	font-size: 10px;
}

.manufacturers-collections-exhaustive ul li a {
	color: #3b18ee;
}
.manufacturers-collections-exhaustive ul li::before {
	content: " >> ";
	font-size: 8px;
}

.manufacturers-collections-exhaustive h3.cat-title {
	background-color: rgba(243, 243, 243, 0.75);
	padding: 10px;
}

ul.manufacturer-sub-cat-list {
	list-style-type: square;
}
.manufacturer-desc img {
	padding: 15px;
}
.right {
	float: right;
}

.manufacturer-popular-products {
	text-align: center;
	font-size: 16px;
}

.manufacturer-popular-products div img {
	border: 1px solid #ebebeb;
}

.manufacturer-popular-products a {
	color: #2c4f6f;
	margin: 10px 0;
}

.manufacturer-popular-products img {
	width: 100%;
}

.manufacturer-popular-products div.manufacturer-product-line-desc {
	color: #717171;
	background-color: rgb(211,211,211);
	padding: 20px;
	text-align: left;
	font-size: 14px;
}

.manufacturer-popular-products h3.cat-title {
	text-align: left;
	margin: 0 0 20px 0; /* resets default .cat-title styles for this section */
}

/*manufacturer list page*/

#manufacturer-list {
	text-align: center;
}

#manufacturer-list .row {
	margin: 20px 0 10px 0;
}

#manufacturer-list p {
	margin: 10px 0;
	text-align: center
}

#manufacturer-list .img-wrapper {
	min-height: 100px;
}

/*product detail page*/
.product-detail, .product-detail-nav {
  cursor: pointer;
}
.product-detail .product-slider-image {
  border: 1px solid #ebebeb;
}

.product-detail-nav {
	border: 1px solid #ebebeb;
	margin: 0 10px;
}
.retail-price, .our-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 30px 0 0 0;
}
.our-price {
  font-size: 19px;
  font-weight: 700;
}
.retail-price .product-detail-info-price-label {
  color: #9b9b9b;
}

.retail-price .product-detail-info-price-number, .our-price .product-detail-info-price-label, .availability span {
  color: #2c4f6f;
}
.our-price .product-detail-info-price-number {
  color: #3cc559;
}

.availability {
  margin: 50px 0 20px 0;
}

.shipping {
  margin-top: 40px;
  color: #42b95a;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}

#add_to_cart, #add_suggested {
  background-color: #2c4f6f;
  padding: 20px 30px;
  border-radius: 45px;
  color: #ffffff;
  font-size: 25px;
  border-style: none;
  margin: 0 auto;
  cursor: pointer;
}

#add_suggested {
	font-size: 16px;
}

.suggested-info {
	display: inline-block;
	float: right;
}

.fa-shopping-cart {
  padding: 0 20px 0 0;
  font-size: 30px;
}

.warranty-spec {
  font-size: 10px;
}

.warranty-spec a {
  margin: 20px 10px;
  color: #3b18ee;
}
.warranty-spec span::before {
  content: " >> ";
  font-size: 8px;
}

/*social icons*/
.product-page-social-icons i {
  margin: 12px;
}

i.fa.fa-facebook {
  color: rgb(38, 78, 112);
}

i.fa.fa-twitter {
  color: rgb(0, 146, 255);
}

i.fa.fa-google-plus {
  color: rgb(255, 0, 0);
}

i.fa.fa-pinterest-p {
  color: rgb(255, 0, 1);
}

i.fa.fa-plus-circle {
  color: rgb(0, 199, 33);
}



#product-information ul {
  border: 1px solid #ccc;
}

#prod-features > ul {
  border: none;
}
#product-information ul li.prod-nav {
  display: inline-block;
  list-style: none;
  border-right: 1px solid #ccc;
  padding: 20px;
  color: #fff;
}

li.prod-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#product-information ul li a {
  color: #2c4f6f;
}

.prod-info {
  margin: 30px 0;
}

/*compare button*/
.compare {
  margin: 10px 0;
}
.compare button {
  background-color: #2c4f6f;
  color: #ffffff;
  border-style: none;
  padding: 5px 10px;
  border-radius: 30px;
  /*margin: 20px;*/
  float: right;
}

#select-checkbox {
  width: 15%;
}

.suggested-accessories img, .suggested-images a {
	display: inline;
}

/*reviews*/

.product-overall-rating img {
	width: 5%;
}
.review {
	clear: both;
	padding-top: 50px;
	border-top: 1px solid #ebebeb;
}

.review ul li {
	list-style-type: none;
}

.overall-rating, .customer-recommendation {
	font-size: 16px;
	color: #999999;
	display: block;
	text-transform: uppercase;
}

.overall-rating {
	text-align: right;
}

span.numerical-rating {
	font-size: 24px;
	font-weight: 700;
}

.overall-rating-wrapper {
	display: inline-block;
	float: right;
	margin: 20px 0;
}
.customer-overall-rating {
	display: inline-block;
}
.customer-overall-rating img {
	width: 10%;
}

.customer-overall-rating p {
	margin: 20px 0;
	font-size: 16px;
	line-height: 20px;
	color: #999999;
}

.review h3.cat-title {
	display: inline-block;
}

.recommended {
	margin: 30px 0;
}

span.green {
	color: #35ae5a;
	font-weight: 700;
}

.load-more-reviews {
	text-align: right;
	margin: 20px 0;
	width: 100%;
}

/*PRODUCT CATEGORY PAGE*/
i.fa-th, i.fa.fa-list {
	color: #999999;
	background-color: #ffffff;
	border: 1px solid #999999;
	padding: 4px;
	margin: 0 0 20px 0;
	font-size: 20px;
}
#prod-cat.col-md-9 {
	margin: 0;
	padding-right: 0;
	padding-left: 0;
}
.prod-cat-item {
	border: 1px solid #999999;
	/*margin: 0 20px 10px 0;*/
}
.prod-cat-stars img {
	max-width: 10px;
}

.item-title-wrapper {
	background-color: #2c4f6f;
	color: #ffffff;
}

.item-specs ul li {
	list-style-type: none;
}

.item-title, .item-specs ul, .compare-item, .prod-cat-item img {
	padding: 10px;
}

div.prod-cat-item.col-md-3 {
	padding-right: 0;
	padding-left: 0;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sub_category_photo {
    display: block;
  }

  img.vendor-photo {
    display: block;
  }

  ul.sub-category {
    float: left;
  }

  .kitchen-accessories {
  	display: table;
  }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul.sub-category {
    margin: 0;
  }

  .vendor-photo {
    padding: 0 10px 10px 0;
  }

  #kitchen-categories > div > div.col-md-3 {
    margin-bottom: 600px;
  }

  .featured-category-desc, .featured-collection-desc {
    width: 100%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ul.sub-category {
    margin: 0 20px;
  }

  .vendor-info {
  	display: block;
  	float: left;
  }
  .vendor-photo {
  	width: 250px;
  }
  .vendor-info .vendor-logo {
  	position: absolute;
    width: 75px;
    bottom: 10px;
  	left: 15px;
  }

  /*left rail*/
  #kitchen-categories > div > div.col-md-3 {
    margin-bottom: 700px;
  }

	.product-detail-nav {
		min-height: 130px;
	}
}
