.margin-top {
  margin-top: 15px;
}

#banner img {
  padding: 0 15px;
}

.cat-title {
  text-transform: uppercase;
}

#main-cat-sidebar ul {
  margin-left: 15px;
}

#main-cat-sidebar ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ebebeb;
}

.category-border {
  border: 1px solid #ebebeb;
  padding: 15px;
}

.vendor-info {
  display: block;
  float: left;
}

.vendor-photo {
  width: 275px;
  margin: 0 10px 0 0;
}
.vendor-info .vendor-logo {
  position: absolute;
}


.main-category-desc h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #2c4f6f;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.main-category-desc p {
  font-family: "Monserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 200;
  color: #999999;
}

ul.sub-category {
  float: left;
}

.sub-category ul li a {
  font-size: 12px;
  color: #0165ba;
}

.sub_category_photo {
  float: right;
  margin: 0 1%;
}
