body {
  font-family: 'Open Sans', 'sans-serif';
  color: #6f6f6f;
}

a, button { 
  color: inherit;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

img {
    max-width: 100%;
}

ul {
  margin:0;
  padding: 0;
}

.shadow {  
   -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.margin-down {
  margin-bottom: 40px;
}

.h3, h3 {
    font-size: 1.2em;
    margin:0;
    padding:0;
    text-transform: uppercase;
    color:#0153a5;
    font-weight: 700;
}

.h2, h2 {
  font-family: 'Montserrat';
  color:#262626;
  font-size:3em;
  font-weight: 700;
}


a.read-more-btn:after {
  content:'\f0a9';
  font-family: 'FontAwesome';
  font-size:1em;
    margin-left: 0.7em;
}
a.read-more-btn:hover {
  text-decoration: none;
}

a.more-info-btn {
  display: inline-block;
  padding: 0.6em 1em;
  border-radius: 3px;
  background-color: #fff;
  color:#0153a5;
  font-weight: 700;
}
a.more-info-btn:hover {
  color:#fff;
  background-color: #3796f5;
  text-decoration: none;
}


.header-bar {
  padding: 10px 0;
}
.header-bar li {
  display: inline-block;
  vertical-align: middle;
}

.header-bar ul.show-dots li:not(:first-child):before {
  content:'â—';
  margin-right:5px;
  margin-left: 3px;
  display: inline;
}


/* promo bar */

.promo-bar {
  background-color: #041a2f;
  /*background-color: #0153a5;*/
  width:100%;
}

.promo-bar li {
    height: 60px;
    padding-right: 20px;
}
.promo-bar li:not(:first-child) {
  border-left:1px solid #ccc;
  padding-left: 20px;
}
.promo-bar li  img {
  height:100%;
  display: inline-block;
  vertical-align: middle;
}

.promo-bar li.view-all-discounts {
  text-align: center;
    width: 13%;
    padding-right: 0;

}
.promo-bar li.view-all-discounts img {
  height:auto;
  width:62px;
  display: block;
  margin:0 auto;
}

.promo-bar li > div.text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 0.9em;
}

.promo-bar li.view-all-discounts a {
  font-size: 1em;
    line-height: 1.1em;
  display: block;
}

.promo-bar p {
  margin:0;
  padding:0;
}
.promo-bar li p:first-child {
  color:#fff;
}
.promo-bar .percent {
  color:#01fe02;
  font-weight: 700;
}
.promo-bar li p:last-child {
  color:#ccc;
}
.promo-bar li.view-all-discounts a,
.promo-bar .code {
  color:#03aed1;
  font-weight: 700;
}

@media screen and (min-width:768px) {
  .promo-bar .collapse {
    display: block;
    height: auto !important;
  }  
}
@media screen and (max-width:767px) {
  .promo-bar button {
    width: 100%;
    background: transparent;
    border: none;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    font-size:1.2em;
  }

  .promo-bar ul {
    text-align: center;
  }
  .promo-bar li {
    display: block;    
    padding: 0;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .promo-bar li:not(:first-child) {
    border-left:none;
    border-top:1px solid #525151;
    padding-left: 0px;

  }
  .promo-bar li.view-all-discounts {
      width: auto;
      padding-top: 15px;
  }  
}



/* pro-bar */
.upper-bar {
  background-color: #f2f2f2;
  border-bottom:2px solid #262626;
  
}

.upper-bar li {
  color:#262626;
  font-weight: 700;
    font-size: 14px;
  font-family: 'Montserrat', 'Open Sans';
}


.upper-bar li a:hover {
  text-decoration: none;
} 

.upper-bar .pull-right i {
  font-size:1.4em;
  padding-right: 0.2em;
  vertical-align: -0.1em;
}
.upper-bar .pull-right li:first-child {
  margin-right:1em;
}

/* phone bar */ 

.phone-bar {
  color: #0153a5;
  font-weight: 700;
  font-size: 1.2em;
  text-align: right;
  margin-bottom: -25px;
}

/* navbar */
header.main-header .top {
  padding:20px 0;
}

header.main-header .cart-holder .cart {
    float:right;
    display: block;
    cursor: pointer;
    margin-top: 0.3em;      
}
   
header.main-header .cart-holder div {
   display: inline-block;
   vertical-align: bottom;
   color:#999999;
   font-size:0.9em;
    margin-left: 10px;
    margin-bottom: 4px;
 }
 header.main-header .cart-holder div strong{
  font-size:1.3em;
  color:#444444;
 }


header.main-header .cart-holder img {
   display: inline-block;
   vertical-align: bottom;
}

header input.search-fld {
    width: 100%;
    padding: 1.2em 1em;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    font-size:0.9em;
    font-family: 'Open Sans', sans-serif;
}

header input.search-fld::-webkit-input-placeholder {
  color:#d1d1d1;
}
header input.search-fld:-moz-placeholder {
  color:#d1d1d1;
}
header input.search-fld::-moz-placeholder {
  color:#d1d1d1;
}
header input.search-fld:-ms-input-placeholder{
  color:#d1d1d1;
}

header button#search-btn {
    float: right;
    padding: 0.65em 1em;
    color: #fff;
    font-size: 1.3em;
    border: none;
    background-color: #0153a5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
}
header button#search-btn:hover {
  background-color: #d1d1d1;
  color:#0153a5;
}

header .search-fld-holder div  {
      margin-top: 1.4em;
    position: relative;
}


header .menu-holder {
  background-color: #fcfcfc;
  border-bottom:1px solid #999;
   -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}
@media (min-width: 768px) {
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-left:-15px !important;
    margin-right:-15px !important;
  }  
}



.navbar-default .navbar-nav>li>a {
  font-family: 'Oswald','sans-serif';
  font-weight: 600;
  color:#262626;
    font-size: 1.4em;
}

.navbar-nav {
    margin: 0 -15px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #262626;
        background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li:not(:first-child) >a  {
  border-left:1px solid #e7e7e7;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

/* mega menu 
-------------------------------------------------- */
.megamenu .nav {
    display: flex;
    justify-content: center;
    float: none;
}
.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
  position: static;
}
.megamenu .container {
  position: relative;
}
.megamenu .dropdown-menu {
  left: auto;
}
.megamenu .megamenu-content {
  padding: 15px;
  margin-top:1px;
  width:100%;
}
.megamenu .megamenu-content h3 {
  margin-bottom: 20px;
  margin-top: 5px;
}
.megamenu .dropdown-menu.megamenu-content {
  left: 0;
  right: 0;
}

.megamenu .megamenu-content .row > .col-sm-2 {
  width:20%;
}
.megamenu .megamenu-content .row > .col-sm-2:not(:first-child) {
  border-left:1px solid #f2f2f2;
}


.megamenu .link-list li {
  list-style-type: none;
    margin-bottom: 10px;
}
/*.megamenu .link-list li:hover {
  background:#f2f2f2;
}*/
.megamenu .link-list a {
  display: inline-block;
  vertical-align: middle;
}
.megamenu .link-list a.img-link {
  height:45px;
}
.megamenu .link-list a img {
  height:100%;
  width:auto;
}
.megamenu .link-list a.txt-link {
    width: calc(100% - 75px);
    line-height: 45px;
}




.megamenu .link-list li.view-all {
  /*text-align: right;*/
  color:#0153a5;
    font-weight: 700;
}

.megamenu a.view-all-cat-btn {
  display:block;
  width:100%;
  background:#f2f2f2;
    padding: 0.7em 0;
    text-align: center;
  margin-top: 1em;
}
.megamenu a.view-all-cat-btn:hover {
  text-decoration: none;
  background: #0153a5;
  color:#fff;
}

@media screen and (max-width:767px) {
  header.main-header .top {
      padding: 5px 0 20px;
  }
  .logo-holder {
      text-align: center;
    float: none;
  }
  .logo-holder img {
        width: 70%;
  }
  .upper-bar {
    margin: 10px auto 0;
    padding: 10px 0px;
  }
  .upper-bar li {
    display: inline-block;
    margin: 5px;
  }
  header.main-header .cart-holder .cart {
      font-size: 1.5em;
      margin: 0;
      color:#262626;
    position: relative;
  }
  header.main-header .cart-holder .cart:after {
      content:attr(data-num-in-cart);
      display: block;
      border-radius:50%;
      position: absolute;
      z-index: 10;
      color:#fff;
      background-color:#eb2b2c;
      text-align: center;
      font-size: 0.47em;
      width: 1.7em;
      height: 1.7em;
      line-height: 1.6em;
      top: -1px;
      right: -12px;
    }
    .phone-bar {
      margin:0;
    }
    .phone-bar li {
      list-style-type: none;
      font-size: 0.8em;
      text-align: center;
      /*font-weight: 400;*/
      width: calc(50% - 4px);
      display: inline-block;
    }
}

















/* footer */

.pro-site-bar {
  width:100%;
  background-color: #0153a5;
  color:#fff;
    /*text-align: center;*/
    padding: 0.4em;
}

.pro-site-bar strong {
  font-size: 2em;
}

.pro-site-bar a.more-info-btn {
  
    position: relative;
    top: -3px;
    left: 14px;
}

.pro-site-bar .plumber-img {
  position: absolute;
  top: -60px;
  height: 110px;
  right: 30px;
}




footer {
  background-color:#262626;
  color:#fff;
  padding:50px 0;
}


footer a:focus, 
footer a:hover {
  color:inherit;
}

footer .menu-items strong.title {
  text-transform: uppercase;
}
footer .menu-items ul {
  margin-top:1.6em;
}
footer .menu-items li {
  list-style-type: none;
  margin-bottom: 1em;
}

footer .social-links {
  text-align: center;
}

footer .social-links a {
  display: inline-block;
  border:2px solid #fff;
  color:#fff;
  border-radius:50%;
    font-size: 1.2em;
    text-align: center;
    width: 50px;
    height: 50px;
    padding-top: 0.65em;
    margin: 0 0.8em;
}


footer .social-links a:hover {
  background-color:#0153a5;
  border-color:#0153a5;
  /*color:#262626;*/
}

footer .ccs,
footer .badges {
  margin-top:20px;
  text-align: center;
}

footer .ccs li,
footer .badges li {
  list-style-type: none;
  display: inline-block;
  margin:0 7px;
}

footer h3 {
  color:inherit;
}


footer .copyright {
  border-top:1px solid #515151;
  margin-top:50px;
  padding-top: 6px;
  font-size: .8em;
  color:#999;
}