
.pagination {
  text-align:center;
  width: 100%;
    font-size: 0.8em;
}

.pagination .control-pagination {
  margin-bottom:1em;
}



.arrows {
  float:right;
}

.pagination a:not(.arrow),
.arrows .slick-arrow {
  display: inline-block;
  background:#fff;
  padding: 5px 12px;
  border:1px solid #ddd;
  cursor: pointer;
}


.pagination a.arrow {
  padding: 5px 12px;
  cursor: pointer;
}

.pagination a.arrow:hover {
  color: #0153a5;
}

.pagination a:not(.arrow):hover,
.arrows .slick-arrow:hover {
  background-color: #ddd;
  /*color:#fff;*/
  text-decoration: none;
}

.side-arrows {
  position: absolute;
  right: -31px;
}

.img-text-box  a.img-link,
.img-text-box  .desc {
    float: left;
    width: 50%;
}

.img-text-box  .desc {
  padding-left:15px;
}

.home-logos {
  padding:40px;
}

#categories div.cat-item {
  padding: 20px;
  margin-bottom:-1px;
}
#categories div.cat-item ul {
  padding-top:5px;
}
#categories div.cat-item li {
  list-style-type: none;
  margin-bottom:0.1em;
}
#categories div.cat-item li a {
  font-size: 0.875em;
}

#categories div.cat-item:nth-child(3n),
#categories div.cat-item:nth-child(3n-1) {
  /*margin-left:-1px;*/
  border-left:0;
}

#categories .side-arrows {
  display: none;
}

.slider-arrows {
  margin-top: -45px;
}

.feat-prod-slider .desc h3 {
  text-transform: none;
  margin-bottom:1em;
  margin-top: 0;
}

.featured-slide .image-holder {
  position: relative;
}




.featured-desc h3,
#categories h3,
#feat-collections h3,
.feat-prods .desc h3,
#guide-carousel .img-text-box .desc h3,
#products-carousel h3  {
  font-size:1.2em;
  margin-bottom:0;
  color:#2c4f6f;
  font-weight:400;
}

#categories h3 {
  text-transform: uppercase;
}

#products-carousel .slick-slide {
  padding:20px;
  text-align: center;
}
#products-carousel .slick-slide img {
  margin: 0 auto;
}


.border-items .slick-slide {
  border-right: 1px solid #ebebeb;
}
.border-items .slick-list {
 border: 1px solid #ebebeb;
}



#guide-carousel .slick-slide {
    /*padding: 1.5em 1em;*/
    padding: 0em;
    padding-left:0.5em;
}

#guide-carousel .slick-slide .desc {
    border:1px solid #ebebeb;
    position: relative;
    padding: 2em;
}
#guide-carousel .slick-slide .desc:before {
  content:'';
  position: absolute;
  left: -19px;
  top: 34px;
  height: 25px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('../imgs/arrow-left.svg');
}

#guide-carousel  .img-text-box a.img-link {
  width:30%;
}

#guide-carousel .img-text-box .desc {
  width:calc(70% - 30px);
    margin-left: 30px;
}

#guide-carousel .img-text-box .desc h3 {
  text-transform: none;
  margin-bottom:1em;
}


@media screen and (max-width:767px) {
  .border-around {
    padding:20px;
  }
  .slick-dots {
    display: none !important;
  }
  .slick-slide img {
    margin:0 auto;
  }
  .side-arrows {
    float:none;
    width: 100%;
    position: static;
  }
  .side-arrows .slick-arrow {
    position: absolute;
    top: calc(50% - 17px);
    border: none;
  }
  .side-arrows .arrow-prev {
    /*float:left;*/
    left:-15px;
  }
  .side-arrows .arrow-next {
    /*float:right;*/
    right:-15px;
  }
  .arrows .slick-arrow:hover {
    background-color: transparent;
    color: #0153a5;
  }
  #categories .side-arrows {
    display: block;
  }
  #logo-carousel .side-arrows .arrow-prev {
    left:-35px;
  }
  #logo-carousel .side-arrows .arrow-next {
    right:-35px;
  }

  #ads > div {
    margin-bottom:20px;
  }
  .guide-arrows, .products-arrows {
      margin-top: 18px;
  }
}



/*Michaels styles start here*/

#banner .margin-top {
  margin-top: 15px;
}
#banner img {
  padding: 0 15px;
}


.view-control {
  margin-top:16px;
}
.view-control .pagination {
      margin: 0;
}

.view-btns {
  display: inline-block;
      vertical-align: top;
    float: right;
}
.view-btns a {
  visibility: hidden;
  color: #999999;
  background-color: #ffffff;
  /*border: 1px solid #999999;*/
  padding: 4px;
  margin: 5px 4px;
  font-size: 20px;
  cursor: pointer;
  float: right;
}

.view-btns a:hover, .view-btns a.selected {
  color: #2c4f6f;
  /*background-color: #2c4f6f;*/
  /*color: #ffffff;*/
}

/*.view-control .pagination > div{
  display: inline-block;
}*/


.img-hover .image-holder:before,
.img-hover .prod-list-image-holder:before {
  content:'';
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  background-color: rgba(109,207,246,0);
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.img-hover .image-holder:after,
.img-hover .prod-list-image-holder:after {
  content:'\f00e';
  display: block;
  font-family:'FontAwesome';
  text-align: center;
  font-size: 2em;
  margin-top: 0.5em;
  color: #2c4f6f;
  opacity:0;
  position: absolute;
  z-index: 3;
  bottom: 15%;
  left: 0;
  right: 0;
    pointer-events: none;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.img-hover:hover .image-holder:before,
.img-hover:hover .prod-list-image-holder:before {
  background-color: rgba(109,207,246,0.5);
}

.img-hover:hover .image-holder:after,
.img-hover:hover .prod-list-image-holder:after {
  opacity:1;
}



.img-hover .cart-btn {
  display: flex;
  align-items:center;
  justify-content:center;
  position: absolute;
  z-index:2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}


.img-hover:hover .cart-btn {
  opacity:1;
}

.img-hover .cart-btn .add_to_cart {
  width:auto;
}




ul.sub-category >li {
  list-style: none;
}
ul.sub-category >li>a {
  font-size: 0.875em;
  color: #0153a5;
}



.main-category-item {
  border: 1px solid #ebebeb;
  margin-bottom: -1px;
    padding: 15px 0;
}

.main-category-item a.vendor_exit {  
  font-size: 0.875em;
    line-height: 1.4em;
}
.main-category-item a.vendor_exit:hover {  
  text-decoration: none;
}
.main-category-item .vendor-image > * {
  display: block;
  margin-bottom: 10px;
}

.main-category-item .sub-cat-photo {
  display: inline-block;
  margin-left:20px;
}

.vendor-info-item-desc .ih {
  height: 100px;
  display: flex;
  align-items:center;
  justify-content:center;
}
.cat-accessories .vendor-info-item-desc {
  text-align: center;
}




.product-search-parameters, .sort-show {  
  float: left;
}

.select-holder.sort-show {
  width: 45%;
  margin-right: 5%;
  font-size:0.8em;
}

#collapseSearch input,
#collapseSearch .product-search-parameters  {
  margin-bottom:2px;
}

/*clear search*/
#collapseSearch a.clear_search_btn {
  /*text-align: center;
  width: 100%;
  display: block;*/
  /*color: #0153a5;*/
  color:#999;
  font-size:0.8em;
}





/*subcategory page*/
.sub-cat-gallery-item {
  margin: 20px 0;
    padding: 20px;
  text-align: center;
  border: 1px solid transparent;
}

.sub-cat-gallery-item:hover {
  border-color:#ebebeb;
}

.sub-cat-gallery-item img {
  /*border: 1px solid #ebebeb;*/
  margin-bottom: 20px;
  width: 100%;
}

.sub-cat-gallery-item:hover a,
.sub-cat-gallery-item:hover img {
  border-color:#0153a5;
  color:#0153a5;
}

.sub-cat-gallery-item-desc {
  margin-top: 10px;
}

.sub_category_info {
  width: 100%;
  margin: 0;
}

.sub-category-info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #2c4f6f;
  text-transform: uppercase;
  margin: 10px 0;
}

/*.sub-category-photo img {
  padding: 10px;
}*/

/*.sub-category-text, .sub-category-photo {
  margin: 20px 0;
}*/

.articles {
  margin-top:30px;
}

.sub-category-text div.title h3,
.articles-text div.title h3 {
  /*font-family: "Montserrat", sans-serif;*/
  font-weight: 400;
  color: #2c4f6f;
  font-size: 16px;
  text-transform: capitalize;
  line-height:1.4em;
}

.articles-text div.title {
  margin-bottom:10px;
}

.articles .article-item {
  /*margin-bottom:20px;*/
    padding: 20px;
    border: 1px solid transparent;
}
.articles .article-item:hover {
  border-color:#ebebeb;
} 
.articles .article-item > a,
.articles .article-item > .articles-text {
  display: inline-block;
    width: calc(50% - 4px);
    vertical-align: top;
}

.articles .article-item > .articles-text {
    padding-left: 15px;
  }

.sub-category-text p {
  margin-top: 10px;
}

@media screen and (max-width:767px) {
  .articles .article-item > a,
  .articles .article-item > .articles-text {
    display: block;
    width: 100%;
  }
  .articles .article-item > .articles-text {
  padding:0;
  padding-top:10px;
  }
}

.feat-prods {
  clear: both;
}

.generic-content-page {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  line-height: 22px
}

.generic-content-page .indent {
  margin-left: 60px;
}

.generic-content-page h3, .chat-online div {
  font-size: 19px;
  color: #2c4f6f;
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

.generic-content-page ul {
  padding-left:30px;
}


/* manufactures details */

.manufacturer {
  margin: 20px;
}
.manufacturer-desc img {
  padding: 15px;
}
.manufacturer-popular-products {
  text-align: center;
  font-size: 16px;
}

.manu-colls-list a {    
  padding: 1em;
    display: block;
  }


.manu-colls-list,
.manu-search-box,
.manufacturer .cats-prods {
  margin-top:30px;
}
.manufacturer .manu-subcat-item, .manufacturer .pop-prod {
  margin-bottom:20px; 
  padding:20px;
  /*border-bottom:1px solid #ebebeb;*/
}
.manu-subcat-item ul {
  /*margin-left:30px;*/
  list-style-type: none;
}
.manufacturer .manu-subcat-item a {
  font-size: .9em;
  /*color:#0153a5;*/
}
.manufacturer .manu-subcat-item img {
  margin-bottom: 15px;
}
.manufacturer .manu-subcat-item a.view-all-btn {
  color:#2c4f6f;
  /*font-weight: 700;*/
  text-decoration: none;
}
.manufacturer .manu-subcat-item a.view-all-btn:hover {
  color:#0153a5;
}

.manu-search-box form{
  max-width:500px;
}
.manu-search-box input {
  display: inline-block !important;
  max-width:300px;
}
.manu-search-box button {
  display: inline-block;
  margin-left:10px;
  vertical-align: top;
  font-size: 1em;
    padding: 0.8em 1em;
}

/*manufacturer list page*/

#manufacturer-list {
  text-align: center;
  margin-top:30px;
}

#manufacturer-list .row {
  margin: 20px 0 10px 0;
}

#manufacturer-list p {
  margin: 10px 0;
  text-align: center
}

#manufacturer-list .img-wrapper {
  min-height: 100px;
}

#manufacturer-list .manu-item {
  margin-bottom:50px;
}


/* product details */
.product-slider {
  margin-bottom:50px;
}

.product-slider .product-slider-image,
.product-slider .nav-slide {
  border: 1px solid #ebebeb;
}
.product-slider .product-slider-nav {
  margin-top:20px;
}
.product-slider .nav-slide  {
  margin: 0 10px;
  display: flex;
  align-items:center;
  justify-content:center;
  width:100px;
  height:100px;
  cursor: pointer;
}
.product-slider .nav-slide img {
  max-height:100%;
}
.product-slider .product-detail-nav:hover {
  border-color:#2c4f6f;
}



.product-details {
  text-align: center;
}


.retail-price, .our-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.retail-price {
  font-size: 0.875em;
  margin-top:1em;
}
.our-price {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.2em;
}
.our-price span {
  color: #21ae35;
}




.qty-holder {
  display: inline-block;
    margin: 1em 0;
}
.qty-holder input#qty {
    display: inline-block;
    width: 3.6em;
    text-align: center;
    font-size: 1em;
}
.qty-holder > a {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.5em;
}
.product-details .product-search-parameters select {
  font-size:1em;
}

.product-details #add_to_cart {
    margin-top: 1em;
}

.product-details .availability {
  margin-top:1.5em;
}
.product-details .availability .status {
  font-size:1.4em;
  font-weight: 700;
  margin-bottom:0em;
}
.product-details .availability .status p {
  
}
.product-details .availability .status.available {
  color:#21ae35;
}
.product-details .availability .status.out-of-stock {
  color:#a94442;
}

.product-details .model {
  margin-top:1em;
}

.product-details .col-links a,
.product-details .warranty-spec a {
  color:#0153a5;
}

.product-details .warranty-spec {
  font-size: 1em;
}

.product-details .warranty-spec a:after {
  content: "\f08e";
  font-family: 'FontAwesome';
  font-size:1em;
  margin-left:10px;
}

.border-top:before {
  content:'';
  width:50%;
  height:1px;
  display: block;
  background-color:#ebebeb;
  margin:0.8em auto;
}

.product-details .icons img {
  margin:0 10px;
}

.product-details .complaint-btn {
  display: inline-block;
  color:#fff;
  background-color:#aaa;
  padding: 0.6em 1em 0.7em;
}

.product-details .complaint-btn:hover {
  text-decoration: none;
  background-color:#2c4f6f;
  color:#fff;
}

#prod-features > ul {
  border: none;
}
#product-info ul li.tab-nav {
  display: inline-block;
  list-style: none;
}


#product-info {
  margin-top: 50px;
}

#product-info ul li:hover {
  background-color: #ffffff;
}

#product-info ul li a:hover {
  text-decoration: none;
}

#product-info ul.prod-info-nav {
  border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.prod-info-content {
  margin: 30px 0;
}

#prod-description ul {
  margin-left:30px;
}




.tab-nav a {
  display: block;
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 5px;
  padding: 10px;
  color: #2c4f6f;
  background-color:#ebebeb;
  font-family: "Montserrat", sans-serif;
}
.tab-nav.ui-tabs-active a:focus,
.tab-nav.ui-tabs-active a,
.tab-nav a:hover {
  /*background-color: rgb(221, 221, 221);*/
  background-color:#2c4f6f;
  color:#fff;
  text-decoration: none;
}



#select-checkbox {
  width: 15%;
}

.suggested-images a {
  margin: 20px 0 0 0;
  font-size: 16px;
}

.suggested-images a.product-name {
  color: #0071d9
}

.suggested-accessories {
  margin: 50px 0;
  border-top: 1px solid #ebebeb;
}

.suggested-accessories img {
  float: left;
  margin: 0 20px 0 0;
}



.prod-cat-stars {
  background: url("../imgs/star-rating-sprite.png") repeat-x;

  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0.6em 0;
    display: inline-block;
}
.star-ratings-sprite-rating {
    background: url("../imgs/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
 }
  
.number-reviews {
  font-size: 0.8em;    
  display: inline-block;
    vertical-align: 1em;
}


/*reviews*/

.product-overall-rating img {
  width: 5%;
}
.review {
  clear: both;
  padding: 20px;
}

.review:not(:first-child) {
  border-top: 1px solid #ebebeb;
}
.review:first-child {
  padding-top:0;
}
/*.review ul {
  margin-left: 0;
}*/
.review ul li {
  list-style-type: none;
}

.review .review-details {
  margin-top:20px;
}

.review.submit-review {
  background: #ebebeb;  
}
.review .submitted {
  font-size: 0.875em;
    margin-top: 15px;
    font-style: italic;
    color: #aaa;
}

.review h3.cat-title {
  display: inline-block;
}

.overall-rating {
    padding: 0 20px 20px;
    font-size: 1.2em;t:20px;
}

span.numerical-rating {
  font-size: 24px;
  font-weight: 700;
}

/* STARS SUBMIT */
.br-theme-br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 19px;
  width: 19px;
  float: left;
  font-size: 30px;
  margin-right: 5px;
}
.br-theme-br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: #d2d2d2;
}
.br-theme-br-theme-css-stars .br-widget a.br-active:after {
  color: #ffd700;
}
.br-theme-br-theme-css-stars .br-widget a.br-selected:after {
  color: #ffd700;
}
.br-theme-br-theme-css-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-br-theme-css-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-br-theme-css-stars .br-widget a:after {
    content: "\2606";
    color: black;
  }
  .br-theme-br-theme-css-stars .br-widget a.br-active:after,
  .br-theme-br-theme-css-stars .br-widget a.br-selected:after {
    content: "\2605";
    color: black;
  }
}
/* END STARS SUBMIT */


/*social icons*/

.product-details .social-icons i {
  margin: 6px;
  font-size: 24px;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

i.fa.fa-facebook {
  color: rgb(38, 78, 112);
}

i.fa.fa-twitter {
  color: rgb(0, 146, 255);
}

i.fa.fa-google-plus {
  color: rgb(255, 0, 0);
}

i.fa.fa-pinterest-p {
  color: rgb(255, 0, 1);
}

i.fa.fa-plus-circle {
  color: rgb(0, 199, 33);
}

.product-details .social-icons a:hover i {
  color:#ccc;
}





/*PRODUCT CATEGORY PAGE*/

#prod-cat {
  padding: 15px;
}

.prod-cat-item {
  margin:0;
  padding: 5px;
}
.prod-cat-item:not(.list-view) {
  height:640px;
}

.prod-list-image-holder,
.prod-list-text-wrapper {
  margin: 0;
  padding:15px;
}

.prod-list-image-holder {
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
.prod-cat-stars img {
  max-width: 10px;
}



.prod-cat-item img.prod-logo {
  /*display: none;*/
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
}

.featured-slide .main-img,
.prod-cat-item .main-img {
  padding:20px;
  margin:0 auto;
}

.prod-cat-item.list-view .prod-list-image-holder {
  width:25%;
  float:left;
  border:none;
  height: 246px;
  display: flex;
  align-items: center;
}
.prod-cat-item.list-view .prod-list-text-wrapper {
  width:75%;
  float:left;
  padding: 35px 15px 15px;
  font-size: 0.875em;
}

.prod-cat-item.list-view .item-specs ul li {
  display: inline-block;
  margin-right: 1em;
}

.prod-cat-item.list-view .item-specs ul li.prod-cat-price {
  display: block;
}




.prod-cat-item .item-specs ul li.better-pricing {
  font-weight: 700;
  border: 1px solid #21ae35;
  color: #21ae35;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}

.prod-cat-item.list-view .item-specs ul li.better-pricing br,
.prod-cat-item .item-specs ul li.better-pricing span {
  display: none;
}
.prod-cat-item .item-specs ul li.better-pricing br {
  display: block;
}
.prod-cat-item.list-view .item-specs ul li.better-pricing span {
  display: inline;
}
    


.prod-list-text-wrapper .item-specs {
  font-size: 0.875em;
  margin-top:0.5em;
}
.prod-list-text-wrapper .item-specs ul li {
  list-style-type: none;
  
}


.our-price-label {
  font-size: 1.4em;
  font-weight: 700;
  color: #0153a5;
  margin:0.5em 0;
}

a.item-title {
  color:#2c4f6f;
  font-weight: 700;
  font-size:1.2em;
    display: block;
}

.compare-item {
  font-size:0.875em;
}
.compare-item label {
  vertical-align: top;
  font-weight: 400;
}




/*shopping cart*/
.shopping-cart-header a.return-from-cart {
  margin-bottom:1em;
  font-size:0.875em;
}
.shopping-cart-header a.return-from-cart:hover {
  text-decoration: none;
}

.cart-links  {
  text-align: right;
}
.cart-links a {
  font-size:1em;
  display: inline-block;
  padding: 0.3em 1em 0.4em;
  margin-top: 6px;
}

.cart-header {
  border-bottom: 1px solid #ebebeb;
  font-size:0.875em;
  text-align: center;
  margin:0;
}

.cart-item {
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  height:160px;
  margin:0;
}
.cart-item > div {
  height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-item > div:not(:first-child) {
  border-left: 1px solid #ebebeb;
}

.cart-item .prod-list-image-holder {
  border:none;
  width:25%;
  float:left;
  border:none;
  height: 160px;
  display: flex;
  align-items: center;
}
.cart-item .prod-list-text-wrapper {
  width:75%;
  float:left;
  font-size: 0.875em;
}

.cart-item .qty-holder input {
  text-align: center;
}

.cart-item:nth-child(even) {
  background-color:#fbfbfb;
}


.after-cart-items {
    margin: 20px 0;
}

.promo-code input {
  width:70% !important;
  float:left;
}
.promo-code button {
    float: right;
    width: 30%;
    padding: 0.7em 1em;
    font-size:1em;
}


.totals .line-label {
  text-align: right;
}

a#update-cart {
  color:#2c4f6f;
  background-color: #ebebeb;
}


.grand-total,
.sub-total {
  text-align: center;
}

.grand-total {
  margin:0px 0 20px;
}

.shipping-options {
  margin-bottom:20px;
}
.shipping-options ul {
  list-style-type: none;
  float: right;
}


.after-cart-items .btns a {
  width:100%;
  display: block;
}


.cart-extra-info {
  margin-top:40px;
  padding-top:30px;
  border-top:1px solid #ebebeb;
}

.cart-extra-info .cartID span {
  font-weight: 700;
  color:#2c4f6f;
}



/*account page*/
ul.account-links {
  list-style-type: none;
}

ul.account-links li {
  border: 1px solid #ebebeb;
  padding: 10px;
  text-align: center;
  margin: -1px 0 0 0;
}

.account-links h3.cat-title {
  text-align: center;
}

#account-details table {
  margin: 20px;
}

#account-page .forms input {
  margin-bottom:10px;
  font-size:1em;
}


.order-status-table {
  font-size: 0.875em;
}
.order-status-table .row {
  margin:0;
}
.order-status-table .header-row {
  background-color: #ebebeb;
}
.order-status-table .row > div {
  border: 1px solid #ebebeb;
  text-align: center;
  padding: 1em;
}
.order-status-table a {
  color:#2c4f6f;
  text-decoration: underline;
}
.order-status-table a:hover {
  color:#0153a5;
  text-decoration: none;
}

.order-status-table .row > div {
margin-bottom:-1px;
margin-left:-1px;
  }

#collapseAcctBtns .ui-tabs-active a {
  font-weight: 700;
  color:#2c4f6f;
}



/* checkout */


.checkout .forms > div {
  padding:0 5%;
}
.checkout .forms input {
  margin-bottom:10px;
  font-size:1em;
}

.checkout .forms button {
  width:100%;
}

.checkout-title {
  text-align: center;
}
.order-sumamry table {
  width: 100%;
}
.order-sumamry tr:last-child {
  font-weight: 700;
  font-size:1.2em;
}



.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 10px 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum { font-size: 0.875em; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info { font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #ebebeb; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #2c4f6f; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #ebebeb;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #ebebeb;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }



.billing-address-forms {
  width:80%;
    margin-right: auto;
    margin-left: auto;
}

.billing-address-forms .submit-button {
  margin:20px auto;
      text-align: center;
}
.billing-address-forms .submit-button button {
  width:300px;
}


.shipping-method input {
  clear:both;
  margin:10px 0;
}

.shipping-method label {
  width: calc(100% - 50px);
}

.shipping-method label span {
  float:right;
}

#bus-addy + label {
  width:80%;
  margin-bottom:10px;
}

.shipping-rates-table table {
  border:1px solid #ebebeb;
  width:100%;
}

.shipping-rates-table table thead tr{
  background-color:#ebebeb;
}
.shipping-rates-table table th,
.shipping-rates-table table td {
  padding:0.5em 1em;
  border:1px solid #ebebeb;
}

.shipping-rates-table table th,
.cart-extra-info.shipping-method {
  text-align: center;
}

input.sec-code {
  width: 50% !important;
  display: inline-block !important;
}